.card {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    width: 210px;
    transition: transform 0.2s ease;

    &:hover {
        transform: translateY(-5px);
    }
}
.task-list{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.spacer{
    background-color: var(--ant-primary-color, #1677ff);
    width: 100%;
    height: 100px;
    margin:30px 0px;
    display: flex;       
    align-items: center;          
    justify-content: center;      
    h2{
        color:white;
        font-size: 2.5rem;
        margin:0;
    }
}
.footer{
    background-image: url('/assets/footer-photo.jpg');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    width: 100%;
    margin-top: 50px;
    padding-top: 15px;
    height: 330px;
    display: flex;       
    align-items: top;
    justify-content: center;

    .footer-buttons{
        width: 55%;

        button{
            margin-top:10px;
        }
    }
}
app-hero {
 
  width: 100%;
  margin-bottom: 2rem;
  border-radius: 20px;
    
}