<form nz-form [formGroup]="taskForm">
  <nz-form-item>
    <nz-form-label nzFor="task-title" nzRequired>Title</nz-form-label>
    <nz-form-control nzErrorTip="Task title required" nzHasFeedback>
      <input
        nz-input
        id="task-title"
        placeholder="Enter task title"
        formControlName="title"
      />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label nzFor="task-description" nzRequired
      >Description</nz-form-label
    >
    <nz-form-control nzErrorTip="Task description required" nzHasFeedback>
      <textarea
        nz-input
        id="task-description"
        placeholder="Enter description"
        formControlName="description"
        rows="2"
      ></textarea>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label nzFor="task-date" nzRequired>Due date</nz-form-label>
    <nz-form-control nzErrorTip="Date required" nzHasFeedback>
      <nz-date-picker
        id="task-date"
        formControlName="due_date"
        style="width: 100%"
        placeholder="Select due date"
        [nzDisabledDate]="disablePastDates"
      ></nz-date-picker>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label nzFor="task-status" nzRequired
      >Status</nz-form-label
    >
    <nz-form-control nzErrorTip="Task status required" nzHasFeedback>
      <nz-select
      id="task-status"
      formControlName="status"
      placeholder="Select status"
      [nzOptions]="statusOptions"
    />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label nzFor="task-priority" nzRequired
      >Priority</nz-form-label
    >
    <nz-form-control nzErrorTip="Task priority required" nzHasFeedback>
      <nz-select
      id="task-priority"
      formControlName="priority"
      placeholder="Select priority"
      [nzOptions]="priorityOptions"
    />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control [nzOffset]="7" [nzSpan]="12">
      <button
        nz-button
        nzType="primary"
        [disabled]="!taskForm.valid"
        (click)="submitForm()"
      >
        Save
      </button>
      <button nz-button (click)="resetForm()">Reset</button>
    </nz-form-control>
  </nz-form-item>
</form>
