<nz-table #filterTable [nzData]="listOfTasks" nzTableLayout="fixed">
  <thead>
    <tr>
      @for (column of listOfColumns; track column) {
      <th
        [nzSortOrder]="column.sortOrder"
        [nzSortFn]="column.sortFn"
        [nzSortDirections]="column.sortDirections"
      >
        {{ column.name }}
      </th>
      }
    </tr>
  </thead>
  <tbody>
    @for (data of filterTable.data; track data) {
    <tr>
      <td>{{ data.title }}</td>
      <td>{{ data.description }}</td>
      <td>{{ data.due_date }}</td>
    </tr>
    }
  </tbody>
</nz-table>
